/* @font-face{
  font-family: 'qingshu';
  src:url('./造字工房情书.otf')
}
@font-face{
  font-family: 'huakang1';
  src:url('./华康新综艺体W9.ttf')
}

@font-face{
  font-family: 'xiaoyu';
  src:url('./小愚.ttf')
} */

@font-face{
  font-family: 'sxzh';
  src:url('./时尚中黑简体.ttf')
}
/* 
@font-face{
  font-family: 'cgh';
  src:url('./造字工房佳黑常规体.ttf')
}
@font-face{
  font-family: 'alibb';
  src:url('./阿里巴巴普惠体H.ttf')
} */
